*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header{
    background-color: antiquewhite;
}
#logo{
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 40px;
    vertical-align: middle;
}
h1{
    display: inline;
    line-height: 40px;
    vertical-align: middle;
}
/* main */
body{
    background-color: rgb(208, 208, 208);
}
#main{
    margin: 70px 300px;
    background-color: rgb(252, 252, 252);
}
#add-task{
    background-color: rgb(0, 140, 255);
    border-radius: 10%;
    padding: 5px;
    color: rgb(247, 247, 247);
}
#add-section{
    background-color: white;
    border-radius: 10%;
    padding: 5px;
    color: rgb(163, 158, 158);
}
.margin-button{
    margin: 10px;
}
.separator{
    margin: 10px 0;
    border: 1px solid lightgray;
}
.title-list{
    margin-top: 20px;
}
.distance-row{
    margin-top: 10px;
    size: 12px;
}
